* {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/img/fondo.jpg');
    min-height: 100vh;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }
  
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #1E1E1E;
    padding-bottom: 35px;
  }
  
  .card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
  
  }
  
  
  .inputBox{
    position: relative;
    width: 250px;
  }
  
  .inputBox input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #6F6F71;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #6F6F71;
    border-bottom: 2px solid #6F6F71;
    transition: 0.1s;
  }
  
  .inputBox span{
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    font-weight: bold;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #6F6F71;
    letter-spacing: 0.2em;
    color: white;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus{
    border: 2px solid #6F6F71;
  }
  
  .btnlog{
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #62CB2B;
    cursor: pointer;
    background-color: #62CB2B;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
  }
  
  .btnlog:hover{
    background-color: transparent;
    border: 2px solid #62CB2B;
    color: #62CB2B;
  }
  
  

.topnav {
  background-color: #1E1E1E;
  overflow: hidden;
}

.navbaresp{
  margin-bottom: -50px;
}



.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navbarImg{
  max-width: 200px;
  align-items: center;
}

.paddingLinks{
  padding: 21px 16px 21px;
}


.topnav a.active {
  background-color: #438b1d;
  color: white;
}

.divEnd{
  display: flex;
  justify-content: end;
  color: #f2f2f2;
  text-align: center;
  padding: 21px 16px 21px;
  text-decoration: none;
  font-size: 17px;
}

.divEnd span{
  padding-right: 10px;
  text-decoration: none;
  font-weight: bold;
}

.spanito{
  padding-right: 10px;
  text-decoration: none;
  font-weight: bold;
  /* background-color: #438b1d; */
  background-color: transparent;

}

.divEnd .btnn{
  text-decoration: none;
  font-weight: bold;
  /* background-color: #438b1d; */
  background-color: transparent;
  color: #62CB2B;
  border-color: #62CB2B;
}


.divEnd .btnn:hover{
  background-color: #438b1d;
  color: white;
  border-color: #62CB2B;
}

.spanito:hover{
  background-color: #438b1d;
}

.spanitoblacn{
  background: transparent;
  margin-right: 10px;
}

.btnadd{
  margin-top: 5px;
  background-color: transparent;
  border: 2px solid #62CB2B;
  color: #62CB2B;
}

.h4lol{
  margin-left: 10px;
  color: white;
}

.tachado{
  text-decoration: line-through;
}

.paddinginput{
  margin-top: 10px;
  background-color: #474749;
  border-color: #474749;
  color: white;
  margin-bottom: 5px;
}

.paddinginput:hover{
  margin-top: 10px;
  background-color: #474749;
  border-color: #474749;
  color: white;
  margin-bottom: 5px;
}

.listavolquete{
  background-color: #474749;
  border-color: #474749;
  color: black;
}


.titulo{
  color: white;
  margin-left: 10px;  
}

.titulo small{
  color: white;
  font-size: 36px;
}



.btnn{
  text-decoration: none;
  font-weight: bold;
  /* background-color: #438b1d; */
  background-color: transparent;
  color: #62CB2B;
  border-color: #62CB2B;  
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.boton{
  text-decoration: none;
  background-color: #438b1d;
  color: white;
  border-color: #62CB2B;  
  padding: 5px 10px;
  line-height: 1.5;
  border-radius: 3px;
}

.btnn:hover{
  background-color: #438b1d;
  color: white;
  border-color: #62CB2B;
}

/*LOTES*/

* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:  #1E1E1E;
}


.tituloh1{
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
  'Helvetica Neue', sans-serif;
}

#image {
  background-image:url('/assets/img/main.jpg');
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
  position:relative;
  color: white;
  z-index:1;
}

#image::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:-1;
}

#imageCantera {
  background-image:url('/assets/img/re1.jpg');
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
  position:relative;
  color: white;
  z-index:1;
}

#imageCantera::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:-1;
}

#imageTareas {
  background-image:url('/assets/img/fondo.jpg');
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
  position:relative;
  color: white;
  z-index:1;
}

#imageTareas::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:-1;
}



.gridd{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:auto;
}

.gridd2{
  display: grid;
  grid-template-columns: 50% 50%;
}

.gridd2 img{
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}

.logito img{
  align-items: center;
  padding-top: 10px;
  text-align: center;
  max-width: 100%;
}

.flyer img{
  width: 100%;
  background: white;
}

.logito h3{
  text-align: center;
}



.gridd .divs {
  padding: 3em;
  align-content: flex-start;
  
  color: white;
}

/* .gridd div:hover{
  border: 1px solid #f1c40f
} */

.h3log{
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  font-size: medium;
}

.botones{
  display: -webkit-box;
  display: flex;
  margin-top: 1.2em;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
  justify-content: space-around;
}

.redes{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
  'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

/*tabla*/

table {
  border-collapse:collapse;
  margin-right: 10px;
}

.color{
  background-color: #6F6F71;
}

thead th{
	color:#fff;
	background-color: #494848;
}

tfoot th{
	color:#fff;
	background-color: #494848;
}

th,tr,td{
	width:150px;
	height:45px;
	vertical-align:middle;
	text-align:center;
}

th{
	color:#fff;
	background-color: #252525;
}

tr:nth-child(odd) td{
	background-color:#eee;
}

.formulario{
  margin-right: 10px;
}

.fa{
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
    appearance: textfield;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #474749;
  opacity: 0.5;
}

/* LOTES */